In [33]:
def binary_search(low, high):
    if low < high:
        mid = (low+high)//2
        question = f'Is the number greater than {mid}? (y/n)'
        #or question = 'Is the number greater than ' + str(mid) + '?'
        response = input(question)
    
        if response == 'y':
            low = mid+1
            return binary_search(low, high)
        elif response == 'n':
            high = mid
            return binary_search(low, high)
        else:
            print("Invalid input! Please enter 'y' or 'n'.")
            return binary_search(low, high)
        
    else:
        return low

In [34]:
binary_search(1, 200)

Is the number greater than 100? (y/n)n
Is the number greater than 50? (y/n)y
Is the number greater than 75? (y/n)y
Is the number greater than 88? (y/n)n
Is the number greater than 82? (y/n)n
Is the number greater than 79? (y/n)n
Is the number greater than 77? (y/n)n
Is the number greater than 76? (y/n)y

77

In [37]:
binary_search(1, 79000)

Is the number greater than 39500? (y/n)n
Is the number greater than 19750? (y/n)n
Is the number greater than 9875? (y/n)n
Is the number greater than 4938? (y/n)nn
Invalid input! Please enter 'y' or 'n'.
Is the number greater than 4938? (y/n)nn
Invalid input! Please enter 'y' or 'n'.
Is the number greater than 4938? (y/n)n
Is the number greater than 2469? (y/n)n
Is the number greater than 1235? (y/n)n
Is the number greater than 618? (y/n)n
Is the number greater than 309? (y/n)nn
Invalid input! Please enter 'y' or 'n'.
Is the number greater than 309? (y/n)n
Is the number greater than 155? (y/n)n
Is the number greater than 78? (y/n)y
Is the number greater than 117? (y/n)y
Is the number greater than 136? (y/n)n
Is the number greater than 127? (y/n)n
Is the number greater than 122? (y/n)n
Is the number greater than 120? (y/n)y
Is the number greater than 121? (y/n)y

122

In [9]:
import pandas as pd
from io import StringIO

# Define the data as a multiline string
data = """Label,Animal,f1,f2
M,Whale,1,0
M,Human,1,1
R,Crocodile,1,1
R,Lizard 1,1,1
M,Platypus,0,1
M,Rat,1,1
R,Lizard 2,0,1
R,Lizard 3,1,0
R,Snakes,0,0"""

# Use StringIO to simulate a file object from the string
data_io = StringIO(data)

# Create the DataFrame
df = pd.read_csv(data_io)

df

  Label     Animal  f1  f2
0     M      Whale   1   0
1     M      Human   1   1
2     R  Crocodile   1   1
3     R   Lizard 1   1   1
4     M   Platypus   0   1
5     M        Rat   1   1
6     R   Lizard 2   0   1
7     R   Lizard 3   1   0
8     R     Snakes   0   0

In [10]:
len(df[df['Label'] == 'M'])

4

In [12]:
len(df[(df['Label'] == 'M') & (df['f1'] == 1)])

3

In [19]:
def prob_m(f1):
    f1_df = df[df['f1'] == f1]
    
    count_M = f1_df[f1_df['Label'] == 'M'].shape[0]
    
    total_count = f1_df.shape[0]
    
    prob = count_M / total_count if total_count != 0 else 0
    
    return prob

In [22]:
prob_m(0)

0.3333333333333333

In [ ]:
def prob_m(f1):
    
    h_df = df[df['Label'] == 'M']
    neg_h_df = df[df['Label'] == 'R']
    
    f1_h_df = h_df[h_df['f1'] == f1]
    f1_neg_h_df = neg_h_df[neg_h_df['f1'] == f1]
    
    p_h = len(h_df)/ len(df)
    p_e_h = len(m_df[m_df['f1'] == f1])/ len(m_df)
    p_neg_h = 1 - p_h
    p_e_neg_h = 
    
    
    count_M = f1_df[f1_df['Label'] == 'M'].shape[0]
    
    total_count = f1_df.shape[0]
    
    prob = count_M / total_count if total_count != 0 else 0
    
    return prob